---
layout: default
---

<div class="home">

  {{ content }}

  Writing intros is hard, here's my spiel...  
  
**My Mission Statement**  
 
CBC Technologies, (aka CBC), was founded on January 1, 2007 to provide commercial and residential clients affordable, reliable computer, printer, and network solutions.
- Affordable is NOT lowest cost -- if you're shopping for the cheapest service and support, (aka race to the bottom), please keep moving as there is nothing to see here. 
- Reliability is a balance between:  
-- good  
-- fast  
-- cost  
General rule of thumb is pick any two, trying to achieve all three is incredibly difficult.  
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2 class="homepage">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <span>
          {% for tag in post.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>#{{ tag_name }}</nobr></code></a>
          {% endfor %}
        </span>
        <p>{{ post.description }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
